.container{
    width: 820px;
    margin: 0 auto;
}

.font div{
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    font-family: 'Anton', sans-serif;
    font-style: initial;
}